<mat-toolbar class="header mat-elevation-z4">
    <mat-toolbar-row>
        <span class="container-logo">
            <a routerLink="/">
                <img class="logo" src="assets/logo1.png" alt="logo">
            </a>
        </span>
        <nav id="nav" class="scaling-active">
            <ul>
                <li><a href="" routerLink="/mydeck" id="deck" mouse="deck"><span>My Deck</span></a></li>
                <li><a href="" routerLink="/cartas" id="lista" mouse="lista"><span>Card Gallery</span></a></li>
                <li><a href="" routerLink="/cartas/edition" id="colecoes" mouse="colecoes" ><span>Card Sets</span></a></li>
                <li><a href="" routerLink="/cartas/create" id="adicionar" mouse="adicionar"><span>Adicionar card</span></a></li>
                <li><a href="" routerLink="/cartas/list" id="minhalista" mouse="minhalista"><span>Card List</span></a></li>
            </ul>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
   
   
</mat-sidenav-container>

