form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.create {
    /*float: right;*/
    margin-top: 20px;
    margin-right: 20px;
    background-color: rgb(235, 235, 235);
}

.imagem {
    float: left;
    margin: 20px;
    width: 50%;
}

button {
    margin-right: 10px;
    margin-top: 10px;
}