table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.card-cover{
  margin: 5px;
  height: 100px;
  width: 68px;
}

.mat-button{
  padding: 0 6px;
  min-width: 20px;
}

i.delete{
  color: #da3c4c;
}